@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
html {
  font-size: 14px;
}

*,
h1,
h2,
h3,
h4,
ul,
li,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  font-family: Circular, -apple-system, 'system-ui', Roboto, 'Helvetica Neue',
    sans-serif;
  font-weight: normal;
  word-break: keep-all;
}
input:focus,
button:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
ul,
li,
dl,
dt,
dd {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 80px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
  /* overflow: hidden; */
  z-index: 9999;
}

/*** header layout ***/
header .container {
  display: flex;
  height: 100%;
}
header .container > div {
  flex: 1;
}
header .logo {
  display: flex;
  flex: auto;
  align-items: center;
  color: #ff385c;
}
header .search_box > .input {
  display: flex;
  width: 300px;
  height: 48px;
  border-radius: 40px;
  border: 1px solid #ccc;
  margin: 15px auto 0;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px 3px rgba(34, 34, 34, 0.2);
}
header .search_box > .input input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 40px 0px 24px;
  border: none;
}
header button.btn_search {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #ff385c;
  font-size: 0;
}
header button.btn_search > * {
  color: #fff;
  font-size: 1rem;
}
header .utils {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .utils > .btn_host,
header .utils > .btn_language {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header .utils > .btn_host {
  border-radius: 40px;
  padding: 12px;
}
header .utils > .btn_language {
  border-radius: 50%;
  padding: 8px;
}
header .utils > .btn_language > * {
  font-size: 1.5rem;
}
header .utils > .btn_host:hover,
header .utils > .btn_language:hover {
  background-color: rgba(34, 34, 34, 0.05);
}
header .utils > .menu {
  position: relative;
  margin-left: 10px;
  border-radius: 40px;
  border: 1px solid #ccc;
  padding: 4px 15px;
}
header .utils > .menu:hover {
  transition: all ease 0.1s;
  box-shadow: 3px 3px 3px rgba(34, 34, 34, 0.2);
}
header .utils > .menu button {
  background-color: #fff;
  border: none;
}
header .utils .menu button > * {
  font-size: 2.142857rem;
  padding: 0 5px;
  color: #000;
}
header .utils > .menu .dialog {
  padding: 0.5rem 0rem;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 55px;
  right: 0;
  font-size: 1rem;
  width: 240px;
  box-shadow: 0px -3px 10px rgb(34 34 34 / 10%);
}
header .utils > .menu .dialog a {
  display: block;
  line-height: 3.5rem;
  padding: 0rem 1rem;
}
header .utils > .menu .dialog .member {
  border-bottom: 1px solid #ddd;
}
header .utils > .menu .dialog .member a:first-child {
  font-weight: 500;
}
footer {
  margin-top: 3.428571rem;
  background-color: rgb(247, 247, 247);
}
footer .footer_top {
  display: grid;
  padding: 3.428571rem;
  grid-template-columns: repeat(4, 1fr);
}
footer .footer_top h3 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.285714rem;
}
footer .footer_top ul li {
  margin-top: 1.142857rem;
  line-height: 1.428571rem;
  font-size: 1rem;
  font-weight: 400;
}
footer .footer_top ul li a:hover {
  text-decoration: underline;
}
footer .footer_bottom {
  border-top: 1px solid #ccc;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_bottom .info > * {
  margin-right: 1.357143rem;
}
footer .footer_bottom .sns {
}
footer .footer_bottom ul {
  display: flex;
}
/*** common style ***/
.container {
  width: 80%;
  margin: auto;
}
.container.wide {
  width: 100%;
}
.bg_pink {
  background-color: #ff385c;
}
.bg_black {
  background-color: black;
}
.sec_bg_black {
  background-color: black;
}
.btn_white_line {
  border: 1px solid white;
  border-radius: 4px;
  font-size: 1rem;
  color: white;
  padding: 0.571429rem 1.142857rem;
}
.btn_white_radius {
  border-radius: 40px;
  background-color: #fff;
  color: #75029a;
  padding: 1rem 2.285714rem;
  font-size: 1.285714rem;
  font-weight: 600;
}
.btn_normal {
  background-color: #fff;
  border-radius: 8px;
  font-weight: 600;
  padding: 1rem 1.714286rem;
  color: #000;
  font-size: 1rem;
}
.btn_gray_hover {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  padding: 18px;
  line-height: 18px;
}
.btn_gray_hover:hover {
  background-color: #f7f7f7;
}
.btn_border_black {
  border: 1px solid #000 !important;
}
/* Global Modal */
.global_modal {
  position: fixed;
  width: 100%;
  top: 3%;
  bottom: 3%;
  left: 50%;
  margin-left: -516px;
  max-width: 1032px !important;
  background-color: #fff;
  z-index: 9999;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px -3px 10px rgb(34 34 34 / 10%);
}
.dim {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  transition: all ease 0.2s;
}
.modal_header {
  position: relative;
  padding-top: 64px;
}
.modal_header .btn_close {
  position: absolute;
  top: 32px;
  left: 32px;
  display: block;
  width: 32px;
  height: 32px;
  font-size: 2.285714rem;
  border: none;
  background-color: #fff;
}
.modal_contents {
  padding: 24px;
  overflow-y: scroll;
  max-height: calc(100% - 64px);
}
.line_tab {
  display: flex;
  width: 100%;
  position: relative;
}
.line_tab:after {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
}
.line_tab .tab_item {
  position: relative;
}
.line_tab .tab_item .btn_gray_hover {
  padding: 8px 12px;
}
.line_tab .tab_item.active::after,
.line_tab .tab_item:hover::after {
  position: absolute;
  left: 10%;
  bottom: -3px;
  display: block;
  width: 80%;
  height: 2px;
  background-color: #000;
  content: '';
}
.modal_contents .translation {
  display: inline-block;
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 16px;
  position: relative;
}
.modal_contents .translation strong {
  font-size: 16px;
}
.modal_contents .translation strong .icon {
  font-size: 24px;
  position: relative;
  top: 4px;
}
.modal_contents .translation p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}
.modal_contents .translation .btn_onoff {
  position: absolute;
  right: 12px;
  top: 16px;
}
.recommend_location .btn_gray_hover,
.modal_contents .btns_wrap .btn_gray_hover {
  text-align: left;
  font-weight: 300;
  margin-bottom: 20px;
}
.recommend_location .btn_gray_hover b,
.modal_contents .btns_wrap .btn_gray_hover b {
  display: block;
}
.recommend_location .btn_gray_hover span,
.modal_contents .btns_wrap .btn_gray_hover span {
  color: #717171;
}
.modal_contents section {
  margin-top: 24px;
  padding-bottom: 18px;
}
.modal_contents .title {
  margin-bottom: 18px;
}
.recommend_location,
.modal_contents .btns_wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2.285714rem;
}
