@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
html {
  font-size: 14px;
}

*,
h1,
h2,
h3,
h4,
ul,
li,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  word-break: keep-all;
}
input:focus,
button:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
dl,
dt,
dd {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 80px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
  /* overflow: hidden; */
  z-index: 9999;
}

/*** header layout ***/
header .container {
  display: flex;
  height: 100%;
}
header .container > div {
  flex: 1;
}
header .logo {
  display: flex;
  flex: auto;
  align-items: center;
  color: #ff385c;
}
header .search_box > .input {
  display: flex;
  width: 300px;
  height: 48px;
  border-radius: 40px;
  border: 1px solid #ccc;
  margin: 15px auto 0;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px 3px rgba(34, 34, 34, 0.2);
}
header .search_box > .input input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 40px 0px 24px;
  border: none;
}
header button.btn_search {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #ff385c;
  font-size: 0;
  cursor: pointer;
}
header button.btn_search > * {
  color: #fff;
  font-size: 1rem;
}
header .utils {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .utils > .btn_host,
header .utils > .btn_language {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header .utils > .btn_host {
  border-radius: 40px;
  padding: 12px;
}
header .utils > .btn_language {
  border-radius: 50%;
  padding: 8px;
}
header .utils > .btn_language > * {
  font-size: 1.5rem;
}
header .utils > .btn_host:hover,
header .utils > .btn_language:hover {
  background-color: rgba(34, 34, 34, 0.05);
}
header .utils > .menu {
  position: relative;
  margin-left: 10px;
  border-radius: 40px;
  border: 1px solid #ccc;
  padding: 4px 15px;
}
header .utils > .menu:hover {
  transition: all ease 0.1s;
  box-shadow: 3px 3px 3px rgba(34, 34, 34, 0.2);
}
header .utils > .menu button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
header .utils .menu button > * {
  font-size: 2.142857rem;
  padding: 0 5px;
  color: #000;
}
header .utils > .menu .dialog {
  padding: 0.5rem 0rem;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 55px;
  right: 0;
  font-size: 1rem;
  width: 240px;
  box-shadow: 0px -3px 10px rgb(34 34 34 / 10%);
}
header .utils > .menu .dialog a {
  display: block;
  line-height: 3.5rem;
  padding: 0rem 1rem;
}
header .utils > .menu .dialog .member {
  border-bottom: 1px solid #ddd;
}
header .utils > .menu .dialog .member a:first-child {
  font-weight: 500;
}
footer {
  margin-top: 3.428571rem;
  background-color: rgb(247, 247, 247);
}
footer .footer_top {
  display: grid;
  padding: 3.428571rem;
  grid-template-columns: repeat(4, 1fr);
}
footer .footer_top h3 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.285714rem;
}
footer .footer_top ul li {
  margin-top: 1.142857rem;
  line-height: 1.428571rem;
  font-size: 1rem;
  font-weight: 400;
}
footer .footer_top ul li a:hover {
  text-decoration: underline;
}
footer .footer_bottom {
  border-top: 1px solid #ccc;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_bottom .info > * {
  margin-right: 1.357143rem;
}
footer .footer_bottom .sns {
}
footer .footer_bottom ul {
  display: flex;
}
/*** common style ***/
.container {
  width: 80%;
  margin: auto;
}
.container.wide {
  width: 100%;
}
.bg_pink {
  background-color: #ff385c;
}
.bg_black {
  background-color: black;
}
.sec_bg_black {
  background-color: black;
}
.btn_white_line {
  border: 1px solid white;
  border-radius: 4px;
  font-size: 1rem;
  color: white;
  padding: 0.571429rem 1.142857rem;
}
.btn_white_radius {
  border-radius: 40px;
  background-color: #fff;
  color: #75029a;
  padding: 1rem 2.285714rem;
  font-size: 1.285714rem;
  font-weight: 600;
}
.btn_normal {
  background-color: #fff;
  border-radius: 8px;
  font-weight: 600;
  padding: 1rem 1.714286rem;
  color: #000;
  font-size: 1rem;
}
