/*** common style ***/
.container {
  width: 80%;
  margin: auto;
}
.container.wide {
  width: 100%;
}
.bg_pink {
  background-color: #ff385c;
}
.bg_black {
  background-color: black;
}
.sec_bg_black {
  background-color: black;
}
.btn_white_line {
  border: 1px solid white;
  border-radius: 4px;
  font-size: 1rem;
  color: white;
  padding: 0.571429rem 1.142857rem;
}
.btn_white_radius {
  border-radius: 40px;
  background-color: #fff;
  color: #75029a;
  padding: 1rem 2.285714rem;
  font-size: 1.285714rem;
  font-weight: 600;
}
.btn_normal {
  background-color: #fff;
  border-radius: 8px;
  font-weight: 600;
  padding: 1rem 1.714286rem;
  color: #000;
  font-size: 1rem;
}
/*** section layout ***/
.search_detail {
  display: none;
}
.searh_type_list ul {
  display: flex;
}
.searh_type_list ul {
  display: flex;
}
.sec_detail {
  padding-top: 15.857143rem;
  padding-bottom: 5.714286rem;
}
.sec_detail .box {
  color: white;
  font-size: 1.714286rem;
  text-align: center;
  padding: 13%;
  border-radius: 1.785714rem;
}
.sec_detail .box h2 {
  margin-bottom: 1.142857rem;
}
.sec_search {
  position: relative;
}
.sec_search::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #000;
  content: "";
  z-index: -1;
}
.sec_search .txt_box {
  border-radius: 1.785714rem;
  padding: 5.714286rem;
  border: 1px solid #000;
  /* background: url(../images/sectionImg01.png) 50% 50% no-repeat; */
  background-size: cover;
  padding-top: 44%;
  color: #fff;
  text-align: center;
}
.sec_search .txt_box h2 {
  font-size: 3.428571rem;
  margin-bottom: 2.142857rem;
}
.sec_idea {
  padding-top: 6.857143rem;
}
.sec_idea h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2.285714rem;
}
.sec_idea .area_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.428571rem;
}
.area_list .area_card {
  border-radius: 1.785714rem;
  overflow: hidden;
  color: #fff;
}
.area_list .area_card:first-of-type {
  background-color: #cc2d4a;
}
.area_list .area_card:nth-of-type(2) {
  background-color: #d93b30;
}
.area_list .area_card:nth-of-type(3) {
  background-color: #de3151;
}
.area_list .area_card:last-of-type {
  background-color: #bc196e;
  margin-right: 0;
}
.area_list .area_card img {
  max-width: 100%;
  width: 100%;
}
.area_list .area_card > div::after {
  display: block;
  content: "";
  width: 100%;
  padding-top: 31.97%;
}
.area_list .area_card > div {
  padding: 1.714286rem 1.142857rem 1.142857rem 1.142857rem;
}
.area_list .area_card > div h3 {
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 0.857143rem;
}
.area_list .area_card > div p {
  font-size: 1.428571rem;
  font-weight: 300;
}
.sec_exper {
  padding-top: 6.857143rem;
}
.sec_exper h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2.285714rem;
}
.sec_exper .experience_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.428571rem;
}
.experience_list > div {
  border-radius: 1.785714rem;
  overflow: hidden;
  color: #fff;
  padding: 5.714286rem;
}
.experience_list > div:first-of-type,
.experience_list > div:nth-of-type(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.experience_list > div:after {
  display: flex;
  content: "";
  padding-bottom: 80%;
}
.experience_list > div h3 {
  font-size: 3.785714rem;
  font-weight: 600;
  margin-bottom: 1.714286rem;
}
.sec_qna {
  padding-top: 6.857143rem;
}
.sec_qna .txt_box {
  padding: 5.714286rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 1.785714rem;
  color: #fff;
  font-weight: 600;
  font-size: 3.214286rem;
}
.sec_qna .txt_box h2 {
  padding-bottom: 18rem;
}
